# Игнорирование виртуальных окружений
venv/
.venv/

# Игнорирование файлов баз данных
*.db
*.sqlite3
localBackup/

# Игнорирование временных файлов и кэша Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирование файлов логов
*.log

# Игнорирование настроек редакторов и IDE
.vscode/
.idea/

# Игнорирование файлов окружения (если есть)
.env
.env.*

# Игнорирование сборочных артефактов (если применимо)
build/
dist/
*.egg-info/